SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres?reWriteBatchedInserts=true
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin

SPRING_MAIL_HOST=[VALUE]
SPRING_MAIL_PORT=[VALUE]
SPRING_MAIL_USERNAME=[VALUE]
SPRING_MAIL_PASSWORD=[VALUE]

REFARCH_S3_URL=[VALUE]
REFARCH_S3_SECRET_KEY=[VALUE]
REFARCH_S3_ACCESS_KEY=[VALUE]

APPCENTER_S3_APPINSIGHT_BUCKET=[VALUE]
APPCENTER_S3_APPINSIGHT_APIKEY=[VALUE]

APPCENTER_S3_TOGEN_BUCKET=[VALUE]
APPCENTER_S3_TOGEN_APIKEY=[VALUE]

APPCENTER_NETWORK_PROXY_ENABLED=true
APPCENTER_NETWORK_PROXY_HOST=[VALUE]
APPCENTER_NETWORK_PROXY_PORT=[VALUE]